/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 30px;
}

h1 {
	font-size: 25px;
}

.top-header {
	font-size: 25px;
}

p {
	padding-left: 25px;
	font-size: 13px;
	line-height: 300%;
}

span {
	font-weight: bold;
}

.top-link {
	font-size: 13px;
	padding-left: 25px;
}

.flash {
	color: green;
	font-size: 13px;
	margin-top: 20px;
}

td {
	font-size: 13px;
	line-height: 27px;
}

.edit-link, .show-link {
	font-size: 13px;
}

.index-link {
	font-size: 13px;
	padding-left: 25px;
}

.show-title {
	font-weight: bold;
	line-height: 50px;
}

.image1 {
	background-image: url(image1.jpg);
}

.image2 {
	background-image: url(image2.jpg);
}

.image3 {
	background-image: url(image3.jpg);
}

.image4 {
	background-image: url(image4.jpg);
}

.image5 {
	background-image: url(image5.jpg);
}

#container {
	height: 300px;
}